@page "/mqttConnetct"
<h1>MQTT Messages</h1>

@if (_messages.Any())
{
    <ul>
        @foreach (var message in _messages)
        {
            <li>@message</li>
        }
    </ul>
}
else
{
    <p>No messages received yet</p>
}

@code {
    private List<string> _messages = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        //await _mqttService.SubscribeMqtt("Mohamed", OnMessageReceived);
        //await _mqttService.SubscribeMqtt("mytopic/test", OnMessageReceived);
        await _mqttService.SubscribeMqtt("sensors/mohamed", OnMessageReceived);
    }

    private void OnMessageReceived(string message)
    {
        _messages.Add(message);
        StateHasChanged();
    }

}
